 <form action="/new_space" method="post">
    <input type="text" name="space_name" placeholder="Your Space Name">
    <input type="textarea" name="space_description" placeholder="Space Description">
    <input type="text" name="price_per_night" placeholder="Price Description">
    <input type="submit" value="Add">
</form>