<h1>Review Requests</h1>

<% each space that the logged in user owns %>
  # SQL query searches spaces by user id
  <% for each guest user that has booked the sapce %>
    # 
    <% display each date the guest user has booked as a checkbox %>
    <form action=""></form>


    <% end loop %>


  <% end loop %>


<% end loop %>