<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
  <link rel="stylesheet" href="<%= url('/styles.css') %>" type="text/css" />
  <title>Makers BnB</title>
</head>
<body>
  <nav class="navbar navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/main_view">
        <img src="/images/MAKERSBNB.png" alt="makers bnb logo" width="435" height="100">
      </a>
    </div>
      <% if @current_user == nil %>
        <div id="sign-up">
          <form action="/sign-up" method="get">
            <input type="submit" class="btn btn-secondary" value="Sign up for a MakersBnb account">
          </form>
        </div> 
        <div id="log-in">
          <form action="/login" method="get">
            <input type="submit" class="btn btn-secondary" value="login">
          </form>
        </div>
        <% else %>
        <div id="log-out">
          <form action="/log-out" method="post">
            <input type="submit" class="btn btn-secondary" value="logout">
          </form>
        </div> 
      <% end %>
  </nav>
  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

