<h1>Log in</h1>
<form action='/login-details' method='post'>
  <input type="text" name="username" placeholder='Username' required/>
  <input type="password" name="password" placeholder='Password' required/>
  <input type="submit" value="Log in">
</form>