<h1>Sign Up to MakersBnB</h1>
<form action="/sign-up-details" method='post'>
  <input type="text" name="fullname" placeholder='Full Name'/>
  <input type="text" name="username" placeholder='Username'/>
  <input type="email" name="email" placeholder='Email'/>
  <input type="password" name="password" placeholder='Password'/>
  <input type="password" name="password_confirm" placeholder='Repeat Password'/>
  <input type="submit" value="Sign Up">

</form>